@model User

<div class="green-color">
    Вход выполнен успешно
</div>
<div>
   FirstName: @Model.FirstName
</div>
<div>
    LastName: @Model.LastName
</div>
<div>
    Email: @Model.Email
</div>
<div>
    EntityId: @Model.EntityId
</div>
<div>
    Company: @Model.Company
</div>
<div>
    Address: @Model.Address
</div>
<div>
    City: @Model.City
</div>
<div>
    Country: @Model.Country
</div>
<div>
    Zip: @Model.Zip
</div>
<div>
    Phone: @Model.Phone
</div>
<div>
    Mobile: @Model.Mobile
</div>
<div>
    EmailConfirm: @Model.EmailConfirm
</div>
<div>
    MobileConfirm: @Model.MobileConfirm
</div>
<div>
    CountryID: @Model.CountryID
</div>
<div>
    Status: @Model.Status
</div>